
*.pyc
*__pycache__*

*.dataset
*.hdf5
VoigtFit.zip
backup/*
*.fit
*.pdf
*.cont
*.out

doc/VoigtFit_mini_language.pdf

backup

*.reg

*.swp

.input.pars.swp

docs/_build
docs/_static

build

dist

VoigtFit.egg-info

TODO

VoigtFit3

.pytest_cache
